.contact {
    padding: 5rem 2rem;
    text-align: center;
}

.contact-links {

    margin-top: 2rem;

    display: flex;

    justify-content: center;

    gap: 2rem;

    flex-wrap: wrap;
}

.contact-links a {

    text-decoration: none;

    color: var(--color-accent);

    font-weight: 600;

    transition: .2s;
}

.contact-links a:hover {
    opacity: .75;
}